body {
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;

  
  background: rgb(255,156,0);
  background: radial-gradient(circle, rgb(241, 77, 6) 20%, rgb(181, 28, 192) 100%, rgb(211, 33, 217) 100%);


   
}
